@import 'reset';
@import 'variables';
// @import 'flex-classes';
html,
body{
  overflow-x: hidden;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.66667;
  background-color: #f7f7f7;
  color: $text-color-primary;
}

h1, .h1 {
  font-size: 38px;
}

h2, .h2 {
  font-size: 25px;
}

h3, .h3{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}
.field{
  margin-bottom: 10px;
  &.with-icon{
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    input{
      padding-left: 48px;
      position: relative;
      z-index: 2;
      background-color: transparent;
    }

    .input-icon{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 48px;
      height: 100%;
      &.right{
        left: auto;
        right: 0;
      }
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //display: block;
        max-width: 30px;
        max-height: 27px;
      }
    }
  }
  &.password-field{
    input{
      padding-right: 48px;
      &[type="password"] ~ .togglePassword img.icon-hide{display: block;}
      &[type="text"] ~ .togglePassword img.icon-show{display: block;}
    }
    .togglePassword{
      z-index: 3;
      cursor: pointer;
    }
  }
  label{
    font-weight: 300;
    letter-spacing: 0.6px;
    padding: 10px 0;
    display: block;
  }
}

.btn{
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 10px 17px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  @include transition;
  &:hover{
    opacity: 0.9;
    text-decoration: none;
  }
  &--clear{
    background-color: transparent;
    border-color: currentColor;
    &:hover{
      &.btn--white{
        background-color: #fff;
        color: $text-color-primary;
        border-color: $text-color-secondary
      }
    }
  }
  &.with-icon{
    position: relative;
    .btn-icon{
      position: absolute;
      width: 48px;
      height: 100%;
      top: 0;
      left: 0;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  &--large{
    padding: 15px 17px;
  }
  &--red{
    background-color: $color-warn;
    border-color: $color-warn
  }
  &--blue{
    background-color: #2650a9;
    border-color: #2650a9;
  }

  &.d-block{
    width: 100%;
  }
}

.bg-{
  &cover{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  &color_{
    &white{
      background-color: #fff;
    }
    &secondary{
      background-color: $color-secondary;
    }
    &warn{
      background-color: $color-warn;
    }
  }
}

.default-hover{
  cursor: pointer;
  @include transition;
  &:hover{
    opacity: 0.9;
  }
}

.text-{
  &align_{
    &center{
      text-align: center;
    }
  }

  &transform_{
    &caps{
      text-transform: uppercase;
    }
  }

  &color_{
    &white{
      color: #fff;
    }
    &secondary{
      color: $text-color-secondary;
    }
    &warn{
      color: $color-warn;
    }
  }
}


input:not([type="checkbox"]),
textarea{
  display: block;
  width: 100%;
  padding: 6px 12px;
  min-height: 35px;
  border: 1px solid;
  border-radius: 4px;
  border-color: $color-secondary;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  &.input--large{
    min-height: 44px
  }
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

textarea{

}

.hamburger-btn{
  position: relative;
  padding: 12px 10px;
  div{
    width: 22px;
    height: 2px;
    border-radius: 4px;
    background-color: currentColor;
    &:not(:first-of-type){
      margin-top: 4px;      
    }
  }
}

.filled-circle{
  position: relative;
  z-index: 2;
  width: 68px;
  height: 68px;
  background-color: #f0f0f0;
  border-radius: 100%;
}

.icon{
  &_chevron-right{
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 0px), calc(-50% + 1px)) rotate(45deg);
      transform-origin: right center;
      width: 25px;
      height: 4px;
      background-color: #999;
    }
    &:after{
      transform: translate(calc(-50% + 0px), calc(-50% - 1px)) rotate(-45deg);      
    }
  }
}

.full-screen{
  min-height: 100vh;
  width: 100%;
}

.nav-padding{
  padding-top: 65px;
  @media screen and (min-width: map-get($grid-breakpoints, md)){
    padding-top: 100px;
  }
}

// Nav main styles
.nav-main{
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  @include transition(background-color);
  @media screen and (min-width: map-get($grid-breakpoints, md)){
    height: 100px;
  }  
  &.scrolled{
    background-color: rgba(100, 109, 118, 0.8);
  }
  .logo{
    img{
      max-height: 28px;
      @media screen and (min-width: map-get($grid-breakpoints, md)){
        max-height: 36px;
      }
    }
  }
}

// Sidenav main styles
.sidenav-main{
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  transform: translateX(100%);
  @include transition(transform);
  @media screen and (min-width: map-get($grid-breakpoints,lg)){
    width: 33%;
    max-width: 400px;
    border-left: 1px solid $text-color-secondary;
  }
  &.is-active{
    transform: translateX(0);
  }
  &_header{
    height: 65px;
    padding: 20px;
    @media screen and (min-width: map-get($grid-breakpoints, md)){
      height: 100px;
    }  
    .close-btn{
      padding: 10px;
      margin-right: 10px;
      position: relative;
      span{
        position: absolute;
        top: 50%;
        left: 0;
        width: 22px;
        height: 4px;
        border-radius: 4px;
        background-color: $text-color-primary;
        transform-origin: center center;
        transform: translateY(-50%) rotate(45deg);
        &:last-of-type{
          transform: translateY(-50%) rotate(-45deg);          
        }
      }
    }
  }
  &_content{
    a{
      font-size: 20px;
      color: $text-color-secondary;
      margin-bottom: 40px;
      &:hover{
        color: $color-warn;
        text-decoration: none;
      }
      &.active{
        color: $color-warn;
        font-weight: 600;        
        text-decoration: underline;
      }
    }
    
  }
}

// Header styles
.header-main{
  background-color: #f7f7f7;
  padding-bottom: 40px;
  &_mask{
    background-size: 0;
  }
  &--two-columns{
    background-size: 0;
    .header-main_mask{
      background-size: cover;
      min-height: 385px;
      @media screen and (min-width: map-get($grid-breakpoints, sm)){
        min-height: 500px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, lg)){
        min-height: 0;
        background-size: 0;
      }
    }

    .signup-panel_content{
      @media screen and (max-width: map-get($grid-breakpoints, lg) - 1){
        color: $text-color-primary;
      }
    }
  }
  @media screen and (min-width: map-get($grid-breakpoints, lg)){
    min-height: 710px;
    background-size: cover;
  }
  &_content{
    @media screen and (max-width: map-get($grid-breakpoints, lg) - 1){
      max-width: 100%;
    }
  }
  &_title{
    font-weight: 300;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
    font-size: 24px;
  }
}

.signup-panel{
  max-width: 395px;
  padding: 10px;  
  background-color: rgba(255,255,255,0.2);
  border: 1px solid $text-color-secondary;
  @media screen and (min-width: map-get($grid-breakpoints, sm)){
    padding: 15px 22px 10px;
  }
  &_tab-button{
    width: 50%;
    padding: 10px 15px;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid $color-secondary;
    @include transition;
  }

  #toggle-form2:checked ~ label[for="toggle-form2"],
  #toggle-form1:checked ~ label[for="toggle-form1"]{
    color: $color-primary;
    border-color: $color-primary;
  }

  #toggle-form2:checked ~ #form2,
  #toggle-form1:checked ~ #form1{
    display: block;
  }

  &_content{
    padding: 15px;
    @media screen and (max-width: map-get($grid-breakpoints, sm) - 1){
      padding: 15px 0;
    }

    h4{
      font-size: 19px;
      padding-bottom: 15px;
      font-weight: 300;
    }
  }
  &_form-divider{
    p{
      padding: 0 10px;
    }

    span{
      height: 1px;
      background-color: currentColor;
    }
  }
}

// Section styles
.section{
  &:not(.no-padding){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &--bg_{
    &grey{
      background-color: #f7f7f7;
      border-bottom: 1px solid $color-secondary;
    }
    &red{
      background-color: $color-warn;
    }
  }
  &_header{
    padding-bottom: 15px;
  }

  &_box{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px;
    &--with-border{
      padding-bottom: 30px;
      box-shadow: inset 0 3px 0px 0px $color-warn, 
                  inset 0 -3px 0px 0px $color-warn, 
                  inset 1px 0 0px 0px $color-secondary, 
                  inset -1px 0 0px 0px $color-secondary;
      @include transition;
      &:hover{
        box-shadow: inset 0 3px 0px 0px $color-warn, 
                  inset 0 -3px 0px 0px $color-warn, 
                  inset 3px 0 0px 0px $color-warn, 
                  inset -3px 0 0px 0px $color-warn;
      }
    }
    &-media{
      height: 155px;
      max-width: 300px;
      margin: 0 auto;
      padding: 10px 20px 20px;
      @include transition;
      img{
        max-height: 125px;
        max-width: 100%;
        display: block;
      }
    }
    &-header{
      .h2{
        font-weight: 300;
      }
    }
    &-description{
      padding: 10px 20px 20px 20px;
      color: $text-color-secondary;
      font-weight: 300;
    }
  }

  .filled-circle{
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 20px;
    @media screen and (min-width: map-get($grid-breakpoints, lg)){
      position: absolute;
      top: 20%;
      left: 100%;
      transform: translate(-50%, -50%);
    }
  }
  
  &_testimonial{
    blockquote{
      font-size: 22px;
      font-weight: 300;
      line-height: 1.5em;
    }

    footer{
      padding-top: 20px;
    }

    cite{
      font-style: normal;
    }
  }

  &_join-btn{
    font-size: 22px;
    letter-spacing: 0.3px;
    font-weight: 300;
  }

  &_bg-mask{
    margin-left: -9999px;
    padding-left: 9999px;
    margin-right: -9999px;
    padding-right: 9999px;
    background-color: #fff;
    @media screen and (min-width: map-get($grid-breakpoints, lg )){
      margin-left: -9999px;
      padding-left: 9999px;
      margin-right: -15px;
      padding-right: 15px;
    }
  }

  &_faq-item{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    img{
      max-width: 35px;
      max-height: 35px;
      margin-right: 20px;
    }
    p{
      padding: 0;
      margin: 0;
    }
  }

  .gift-slider-paggy{
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 35px;
  }

  .testimonial-slider{
    padding-bottom: 70px;
    margin-bottom: 20px;
  }
}

// Page content styles
.page-content{
  h1, h2, h3{
    padding: 1em 0;
    font-weight: 300;
  }
  h1{
    font-weight: 400;
  }

  p{
    font-weight: 300;
    padding-bottom: 1em;
  }

  .logo-grid{
    .grid-elem{
      padding: 10px;
      border: 1px solid $text-color-secondary;
      width: 25%;
    }
  }

  .quick-links{
    padding-left: 0;
    list-style-type: none;
  }

  .section_faq-item p{
    padding: 0;
  }
}

// Footer styles
.footer-main{
  background-color: #646d76;
  padding: 10px 20px;
  .footer-links{
    a{
      margin: 0 5px;
    }
  }
}

@import 'vendor';