@{
    ViewData["Title"] = "My Opinion Matters";
}

<!--div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div-->

<div class="row padding-bottom-xl padding-top-xl whyjoin">
    <div class="col">
        <h1 class="text-center text-uppercase padding-bottom-md">Why Join?</h1>
    </div>

    <div class="container">
        <div class="col-lg-4 ">
            <div class="mom-shout-box left text-center bg-white">
                <a asp-area="" asp-controller="Home" asp-action="About">
                    <img src="~/images/haveyoursay.png" />
                </a>
                <h2>
                    Have Your Say
                </h2>
                <p>Your opinions will help shape and influence tops brands in Ireland and around the world.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mom-shout-box centre text-center bg-white">
                <img src="~/images/gift-card-01.png" />
                <h2>Free Gift Cards</h2>
                <p>Get rewarded for every survey you complete and can choose from a massive range of Reward Partners</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mom-shout-box right text-center bg-white">
                <a asp-area="" asp-controller="Home" asp-action="Faq">
                    <img src="~/images/prize.png" />
                </a>
                <h2>Win Big Prizes</h2>
                <p>Every month you can enter our Big Prize Draw for Luxurious Weekend Breaks, Concert Tickets and more.</p>
            </div>
        </div>

    </div>
</div>

<div class="row bg-white padding-bottom-xl padding-top-xl">
    <div class="col">
        <h3 class="text-center text-uppercase padding-bottom-md">How It Works</h3>
    </div>
    <div class="container">
    <div class="col-lg-4">
        <div class="mom-how-box left text-center">
            <img src="~/images/phone.png" />
            <h2>Take Surveys</h2>
            <p>Fill out quick surveys tailored to your profile.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mom-how-box left text-center">
            <img src="~/images/pig.png" />
            <h2>Earn Points</h2>
            <p>Each survey completed earns you points</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mom-how-box left text-center">
            <img src="~/images/prizes.png" />
            <h2>Get Free Gift Cards</h2>
            <p>Redeem the points against gift cards from companies such as Amazon, Brown Thomas and more...</p>
        </div>
    </div>
</div>
    </div>
<div class="row bg-red padding-bottom-md padding-top-md">
    <div class="container">
        <div class="col center-block padding-left-lg padding-right-lg">
            <h3 class="text-center text-white text-capitalize">Testimonials</h3>
            <p class="text-center text-white text">
                <em>
                    I really enjoy taking part in these surveys. They make me think about my own opinions and are a welcome break from motherhood, if only for five minutes. I hope to continue taking part for as long as possible.
                </em>
            </p>
            <p class="text-center text-white">
                Joanne, 33, Offaly
            </p>
        </div>

        <div class="row bg-red padding-bottom-md padding-top-md">
            <div class="col center-block">
                <p>
                    <a class="btn btn-outline-white" href="">Join Now!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-lg-6 mom-textarea mom-about">
            <h3 class="text-center">About Us</h3>
            <p>MyOpinionMatters is Ireland's leading market research community. Made up of thousands of men and women just like you, MyOpinionMatters allows people from all over Ireland to participate in surveys and in return get paid for their opinions - as well as having the opportunity to help shape the products and services that companies provide.</p>
        </div>
        <div class="col-lg-6 mom-textarea mom-faq">
            <h3 class="text-center">FAQ</h3>
            <ul>
                <li>General Questions</li>
                <li>Ponts &amp; rewards</li>
                <li>Registration</li>
                <li>Surveys</li>
                <li>My Details</li>
                <li>Support</li>
            </ul>
        </div>
    </div>
</div>
