@@if (!context.isDashboardNav) {
  <div class="nav-main is-transparent text-color_white d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col flex-grow-1 d-flex align-items-center">
          <a href="/" class="logo">
            <img src="images/icons/my_opinion_matters_logo.png" alt="">
          </a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <div class="hamburger-btn default-hover sidenav-main-trigger">
            <div></div>
            <div></div>
            <div></div>
          </div>
          @@if (context.hideLoginbtn === false){
            <a href="join.html" class="btn btn--clear btn--white d-md-block" hidden>
              <b>Login</b>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
}

@@if (context.isDashboardNav === true) {
  <div class="nav-main is-filled text-color_white d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col flex-grow-1 d-flex align-items-center">
          <a href="dashboard-index.html" class="logo">
            <img src="images/icons/my_opinion_matters_logo_red.png" alt="">
          </a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <div class="hamburger-btn default-hover sidenav-main-trigger">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<div class="sidenav-main d-flex flex-column">
  <div class="sidenav-main_header d-flex align-items-center justify-content-end">
    <div class="close-btn default-hover sidenav-main-trigger-close">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="sidenav-main_content d-flex flex-column align-items-center">
    <a class="text-transform_caps" href="/" class="active">HOME</a>
    <a class="text-transform_caps" href="about.html">ABOUT US</a>
    <a class="text-transform_caps" href="rewards.html">REWARDS</a>
    <a class="text-transform_caps" href="faq.html">FAQ</a>
    <a class="text-transform_caps" href="news.html">NEWS</a>
    <a class="text-transform_caps" href="contact-us.html">CONTACT US</a>
    <a class="text-transform_caps" href="join.html">JOIN</a>
    <a class="text-transform_caps" href="dashboard-index.html">Dashboard</a>
    <a class="text-transform_caps" href="dashboard-surveys.html">My Surveys</a>
    <a class="text-transform_caps" href="dashboard-rewards.html">My Rewards</a>
    <a class="text-transform_caps" href="dashboard-rewards_history.html">My Rewards History</a>
    <a class="text-transform_caps" href="dashboard-prizes.html">My Prizes</a>
    <a class="text-transform_caps" href="dashboard-settings.html">My Settings</a>
    <a class="text-transform_caps" href="dashboard-profile.html">My Profile</a>
  </nav>
</div>